// Core variables and mixins
@import "theme/libs/variables";
@import 'theme/libs/functions';
@import "theme/libs/mixins";
@import 'theme/libs/vendor';
@import 'theme/libs/breakpoints';

// Breakpoints.
@include breakpoints((
	default:   (1681px,   null     ),
	xlarge:    (1281px,   1920px   ),
	large:     (1153px,   1280px   ),
	medium:    (737px,    1152px   ),
	small:     (481px,    736px    ),
	xsmall:    (361px,    480px    ),
	xxsmall:   (null,     360px    )
));

// GLOBAL
@import 'theme/base/reset';
@import 'theme/base/typography';

// LAYOUT
@import "theme/layout/navbar";
@import "theme/layout/header";
@import "theme/layout/footer";
@import "theme/layout/masthead";
@import "theme/layout/showcase";
@import "theme/layout/icons";
@import "theme/layout/testimonials";
@import "theme/layout/call-to-action";


// Vendor.
// @import 'vendor/slick';
// @import 'vendor/slick-theme';